<div class="container">
  <h1> Bien venu sur {{title}}</h1>
  <div class="row">
    <div class="col-md-4">
      Colonne 1
    </div>
    <div class="col-md-8">
      Rien ici le {{datedujour}}
    </div>
  </div>
  <img src="{{lien1}}" class="moitie rounded-circle">
</div>
<router-outlet></router-outlet>
